.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .center-text {
      text-align: center;
      width: 100%;
      margin: 30%;
  }
}
@media (min-width: 1024px) {
  .mission-card {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 1024px) {
  .mission-card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 700px) {
  .mission-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
