<div class="cards">
  <ng-container *ngIf="missions$ | async as missions; else: loading">
    <ng-container *ngIf="missions.length; else noMissions">
      <div
        class="mission-card"
        *ngFor="let mission of missions; trackBy: trackByFn"
      >
        <app-mission-card [mission]="mission"></app-mission-card>
      </div>
    </ng-container>
    <ng-template #noMissions><div class="center-text"><h2>No Missions Found!</h2></div></ng-template>
  </ng-container>
  <ng-template #loading><div class="center-text">loading missions...</div></ng-template>
</div>
