header {
  background-color: gray;
  padding: 10px;
  font-size: 25px;
  color: black;
}

section {
  display: flex;
  background: #ccc;
  aside {
    flex: 1.5;
    padding: 10px;
  }
  article {
    flex: 8.5;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  section {
    flex-direction: column;
  }
}
