.filter-category-wrapper {
  text-align: center;
  .filter-header {
    display: inline-block;
    margin-top: 1rem;
    padding: 5px;
    border-bottom: 1px solid black;
    :hover {
        border: none;
        background-color: #78a139;
    }
  }

  .filter-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 1rem;
    margin-left: 10%;
    button {
      flex: 0 40%;
      margin-bottom: 1rem;
      background: #c5dda1;
      padding: 5px;
      cursor: pointer;
      border-radius: 8px;
      min-width: 25px;
      border: none;
      outline-style: none;

      &:hover, &:focus {
        background: #75a52e !important;
      }
    }

    ::after {
      content: "";
      flex: auto;
    }
  }
}
